.bottomButtons {
    margin: 20px;
    grid-area: buttons;
}

.button.red {
    background-color: rgb(228, 72, 72);
}

.button.red:hover {
    background-color: rgb(175, 45, 45);
}

.button.red:active {
    background-color: rgb(119, 29, 29);
}

.button {
    transition: 0.5s ease;
    will-change: background-color;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 14pt;
    border: solid black 2px;
    background-color: lightgray;
}

.button:hover {
    border-radius: 7px;
    background-color: rgb(170, 170, 170);
}

.button:active {
    border-radius: 2px;
    background-color: rgb(126, 126, 126);
}